<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tienda Kingdom Hearts</title>
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>

	<header>
		<div class="logo">
			<img src="img/kh_logo.png" alt="Logo Kingdom Hearts">
			<h1>Kingdom Hearts Shop</h1>
		</div>
	</header>
	
	<nav>
		<a id="enlace_productos" href="#">Productos</a>
		<a id="enlace_login" href="#">Iniciar sesión</a>
		<a id="enlace_registro" href="#">Registrarme</a>
		<a id="enlace_carrito" href="#">Carrito</a>
		<a id="enlace_pedidos" href="#">Mis pedidos</a>
		<a class="admin-link" href="admin/obtenerProductos">Administración</a>
	</nav>
	
	<nav class="nav-idiomas">
	    <a href="?idioma=es">Español</a>
	    <a href="?idioma=en">Inglés</a>
	    <a href="?idioma=jap">Japonés</a>
	</nav>
	
	<div id="login_usuario">Usuario no identificado</div>
	
	<div id="contenedor"></div>
	
	<footer>
    	&copy; 2025 Kingdom Hearts Shop — Todos los derechos reservados
	</footer>
	
	<!-- Incluir los archivos de jascript necesarios -->
	
	<script src="librerias_js/jquery.js"></script>
	<script src="librerias_js/mustache.js"></script>
	<script src="javascript/globales.js"></script>
	<script src="javascript/cargar_plantillas.js"></script>
	<script src="javascript/funciones_menu.js"></script>
	<script th:inline="javascript">
	    let usuarioId = /*[[${usuarioId}]]*/ null;
	</script>
	<script>
	    if (usuarioId !== null) {
	        $.get("usuariosREST/getNombre?id=" + usuarioId, function(nombre) {
	            nombre_login = nombre;
	            $("#login_usuario").html("Hola " + nombre);
	    	    let textoCerrar = "Cerrar sesión";
	    		if (idioma === "_en") {
	    		    textoCerrar = "Log out";
	    		} else if (idioma === "_jap") {
	    		    textoCerrar = "ログアウト";
	    		}
	            $("#enlace_login").html(textoCerrar);
	        });
	    }
	</script>
	<script src="javascript/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>